@{
    ViewBag.Title = "O DailyHelper";
}
    <div >
        <div class="card  border-dark">
            <h2 class="card-header bg-custom text-white">@ViewBag.Title.</h2>
            <h3 class="card-body">Aplikacja internetowa  DailyHelper powstała na podstawie istniejącej aplickacji internetowej i jest narzedziem majacym na celu ulatwienie etapu organizacji, projektu</h3>
            <br />
            <h4 class="card-footer">Tworca Aplikacji Tomasz Zakrzewski</h4>
        </div>
    </div>